/* ubah link di class hello jadi warna hijau */
.hello:link {
    color:green;
}

/* ubah warna link ketika di sorot di class hello */
.hello:hover {
    font-family: arial;
    font-size: 20px;
    color:coral;
}

/* ubah warna link ketika di klik pada class hello */
.hello:active {
    font-style: italic;
    color:blue;    
}
/* ubah warna setelah link dikunjungi di class hello */
.hello:visited {
    color:red;
}

/* ubah warna a didalam li anak pertama */
li:first-child a {
    color: green;
}

/* ubah warna a didalam li anak ke 2 */
li:nth-child(2) a {
    color:gray;
}

/* ubah warna a didalam li kelipatan 3 di mulai dari 4 */
li:nth-child(3n+1) a {
    color:lightblue;
}

/* ubah warna a didalam li anak terakhir */
li:last-child a {
    color:chocolate;
}

/* ubah warna a didalam li ketika disorot untuk anak urutan ganjil */
li:nth-child(odd) a:hover {
    color:red;
}

/* ubah warna a didalam li ketika disorot untuk anak urutan genap */
li:nth-child(even) a:hover{
    color:green;
}

/* ubah warna elemen p pertama kali ditemukan */
p:first-of-type {
    color:red;
}

/* uabh warna elemen p spesifik/urutan(3) */
p:nth-of-type(3) {
    color:coral;
}

/* ubah warna elemen p urutan terakhir */
p:last-of-type {
    color:purple;
}