/* ini adalah komentar pada css */
h1 {
    font-size: 100px;
    color:#DDA900;
    text-align: center;
    text-decoration: underline;
}
h2 {
    font-size: 100px;
    color: coral;
    text-align: left;
    text-transform: capitalize;
}
p {
    font-size: 100%;
    text-align: justify;
    text-indent: 50px;
    letter-spacing: 3px;
    word-spacing: 3px;
}