html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Clear Fix */

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
}

/* start style */

.top-bar {
    position: fixed;
    top:0;
    right: 0;
    left: 0;
    height: 40px;
    background-color: lightblue;
    border-bottom: 3px solid salmon;
    z-index: 99;
}

.container {
    position: relative;
    width: 960px;
    margin: 80px auto;
    background-color: white;
}

body {
    font:16px/28px arial, sans-serif;
    background-color: #eaeaea;
    color: #333;
    background-image: url(img/wheat.png);
    position: relative;
}

.header {
    padding: 20px;
    padding-bottom: 10px;
    
}

.header .judul {
    font-size: 40px;
    font-weight: bold;
}

.header ul li {
    display: inline-block;
    margin-top: 20px;
    margin-right: 10px;
}
.header a {
    text-decoration: none;
    color:salmon;
    padding: 3px;
}
.header a:hover {
    background-color: lightskyblue;
    color: white;

}

.hero {
    height:320px;
    background-image: url(img/desk.jpg);
    background-size: cover;
    background-position:0 -200px ;
    border-bottom: 5px solid lightskyblue;
    border-top: 5px solid salmon;
}

/* Main Area */

.main {
    padding: 20px;
    width: 600px;
    box-sizing: border-box;
    float:left;
}

.main h2 {
    font-size: 28px;
    font-weight: bold;
}

.main .penulis {
    font-size: 11px;
    margin-top: -5px;
}

.main .penulis a {
    color: salmon;
    text-decoration: none;
}

.main .penulis a:hover {
    color: coral;
    font-weight: bold;
    text-decoration: none;
}

.main p {
    margin-bottom: 20px;
    font-size: 14px;
    text-align: justify;
}

/* sidebar area */

.sidebar {
    width: 300px;
    float: right;
    padding: 20px
}

.sidebar h3 {
    font-weight: bold;
    color: #666
}

.sidebar img {
    float:left;
    padding-right: 10px;
    width:70px;
    height: 70px;
}

.sidebar p {
    font: 12px/18px arial;
}

/* Footer Area */

.footer {
    background-color: #333;
    padding:10px;
}
.footer .copy{
    color: #eaeaea;
    text-align: center;
    font-size: 13px;
}

.facebook {
    width: 200px;
    height: 250px;
    background-image: url(img/Facebook-Ribbon.png);
    background-repeat: no-repeat;
    display:inline-block;
    text-indent: -9999px;
    position:absolute;
    top:-20px;
    right: -10px;
}