#p1 {
    color:red;
}
/* yang dipanggil id karena id lebih specific dari class dan elemen */
.p1 {
    color:purple;
}

p {
    color:green;
}


/* list */
#hari {
    color:red;
}

.anu {
    color:purple;
}

ul#hari li.anu{
    color:coral;
}

/* 
urutan spesific
1.inline
2.id
3.class
4.elemen
*/