h1 {
    font-family: 'Lucida Sans',Arial, Helvetica, sans-serif;
    font-size: 100px;
    font-weight: bolder;
    font-variant: small-caps;
    font-style:italic;
}
h2 {
    font-family: sans-serif;
}
p {
    font-family: georgia,sans-serif;
    line-height: 20px;
}