body {
    font-family: arial;
}

/* Separator Selector koma (dan)*/
h1, h2 {
    color:green;
}
h2 {
    font-style: italic;
}

/* 
Separator spasi (didalam)
<pilih a di dalam li didalam ul>
*/
ul li a {
    color:orange;
}

ol li a {
    color: red;
}

/*id menggunakan crash (#<nama id>)*/
#p1 {
    color: coral;
}
/* class menggunakan titik (.<nama class>) */
.p2 {
    color:red;
}

/* selector kompleks */
.cetak-tebal {
    font-weight: bold;
}

/* memilih class didalam elemen */
p.cetak-tebal {
    font-size: 25px;
}